@font-face {
  font-family: ProximaNova;
  src: url("fonts/ProximaNova-Reg.otf") format("opentype");
}

@font-face {
    font-family: ProximaNova;
    src: url("fonts/ProximaNova-Bold.otf") format("opentype");
    font-weight: bold;
}

body {
  font-family: ProximaNova, Helvetica, Verdana, Sans-Serif;
  background-color: #008774;
  margin-top: 60px;
  color: #fff;
}

h1 {
  font-family: ProximaNova, Helvetica, Verdana, Sans-Serif;
  font-size: 52px;
  font-weight: bold;
  margin-top: 10px;
}

h2 {
  font: 55px ProximaNova, Helvetica, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  color: #008774;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  overflow: auto;
  margin-bottom: 20px;
  margin-left: 0;
  line-height: 1.5;
}


#clock {
  font-size: 220px;
  text-align: left;
  width: 650px;
}

#countdown {
  font-size: 600px;
  text-align: left;
  margin-top: 120px;
  margin-left: 380px;
}

#dynamic-content {
  margin-left: 60px;
  background-color: #fff;
  color: #666666;
  padding: 20px 50px;
  font: lighter 36px Helvetica, Verdana, sans-serif;
  max-width: 1000px;
  height: 850px;
}


.flex-container {
  display: flex;
  justify-content: space-between;
}

.foodtruck-content {
  margin: 0;
  padding: 0;
}


.foodtruck {
    position: relative;
}

.foodtruck h2 {
  margin-right: 175px;
}

.foodtruck:before {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.7;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 85%;
    top: 0;
    max-width: 175px;
}

.foodtruck.beverage:before {
    background-image: url('/images/food-types/beverage.png');
}

.foodtruck.coffee:before {
    background-image: url('/images/food-types/coffee.gif');
}

.foodtruck.dessert:before {
    background-image: url('/images/food-types/dessert.jpg');
}

.foodtruck.sandwiches:before {
    background-image: url('/images/food-types/sandwich.gif');
}

.foodtruck.burgers:before {
    background-image: url('/images/food-types/burgers.png');
}

.foodtruck.hot-dogs:before {
    background-image: url('/images/food-types/hot-dogs.jpg');
}

.foodtruck.pizza:before {
    background-image: url('/images/food-types/pizza.jpg');
}

.foodtruck.southern:before {
    background-image: url('/images/food-types/southern.png');
}

.foodtruck.bbq:before {
    background-image: url('/images/food-types/bbq.png');
}

.foodtruck.seafood:before {
    background-image: url('/images/food-types/seafood.jpg');
}

.foodtruck.hawaiian:before {
    background-image: url('/images/food-types/hawaiian.jpg');
}

.foodtruck.indian:before {
    background-image: url('/images/food-types/indian.jpg');
}

.foodtruck.mediterrannean:before, .foodtruck.mediterranean:before  {
    background-image: url('/images/food-types/mediterranean.jpg');
}

.foodtruck.caribbean:before {
    background-image: url('/images/food-types/caribbean.png');
}

.foodtruck.mexican:before {
    background-image: url('/images/food-types/mexican.jpg');
}

.foodtruck.asian:before {
    background-image: url('/images/food-types/asian.png');
}

.foodtruck.native-american:before {
    background-image: url('/images/food-types/native-american.jpg');
}

.foodtruck.english:before {
    background-image: url('/images/food-types/english.jpg');
}

.foodtruck.vegetarian:before {
    background-image: url('/images/food-types/vegetarian.jpg');
}

.on-time {
    color: blue;
}

.late {
    color: red;
}

.scheduled {
    color: grey;
}

.early {
    color: seagreen;

}

.bus-arrival {
    padding: 0;
    margin: 0;
}

.bus-list {
    text-align: right;
}