@font-face {
  font-family: ProximaNova; 
  src: url("fonts/ProximaNova-Reg.otf") format("opentype");
}

@font-face {
    font-family: ProximaNova;
    src: url("fonts/ProximaNova-Bold.otf") format("opentype");
    font-weight: bold;
}

body {
  font-family: ProximaNova, Helvetica, Verdana, Sans-Serif;
  background-color: #008774;
  margin-top: 120px;
  color: #fff;
}

h1 {
  font-family: ProximaNova, Helvetica, Verdana, Sans-Serif;
  font-size: 52px;
  font-weight: bold;
}

h2 {
  font: 60px ProximaNova, Helvetica, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  color: #008774;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

li {
  overflow: auto;
  margin-bottom: 36px;
  line-height: 1.5;
}


#clock {
  font-size: 220px;
  text-align: left;
  width: 900px;
}

#foodTrucks {
  margin-left: 80px;
  background-color: #fff;
  color: #666666;
  padding: 20px 50px;
  font: lighter 36px Helvetica, Verdana, sans-serif;
}


.flex-container {
  display: flex;
  justify-content: space-between;
}

.foodtruck-content
{
  margin: 0;
  padding: 0;
}


.foodtruck {
    position: relative;
}

.foodtruck h2 {
  margin-right: 175px;
}

.foodtruck:before {
    background-image: url('');
	  background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.7;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 75%;
    top: 0;
}

.foodtruck.asian:before {
    background-image: url('/images/food-types/asian.png');
}

.foodtruck.bbq:before {
    background-image: url('/images/food-types/bbq.png');
}

.foodtruck.beverage:before {
    background-image: url('/images/food-types/beverage.png');
}

.foodtruck.caribbean:before {
    background-image: url('/images/food-types/caribbean.png');
}

.foodtruck.coffee:before {
    background-image: url('/images/food-types/coffee.gif');
}

.foodtruck.dessert:before {
    background-image: url('/images/food-types/dessert.jpg');
}

.foodtruck.ethiopian:before {
    background-image: url('/images/food-types/ethiopian.jpg');
}

.foodtruck.hawaiian:before {
    background-image: url('/images/food-types/hawaiian.png');
}

.foodtruck.hot-dogs:before {
    background-image: url('/images/food-types/hot-dog.jpg');
}

.foodtruck.indian:before {
    background-image: url('/images/food-types/indian.jpg');
}

.foodtruck.mediterrannean:before, .foodtruck.mediterranean:before  {
    background-image: url('/images/food-types/mediterranean.jpg');
}

.foodtruck.mexican:before {
    background-image: url('/images/food-types/mexican.jpg');
}

.foodtruck.pizza:before {
    background-image: url('/images/food-types/pizza.jpg');
}

.foodtruck.sandwiches:before {
    background-image: url('/images/food-types/sandwich.gif');
}

.foodtruck.seafood:before {
    background-image: url('/images/food-types/seafood.jpg');
}

.foodtruck.southern:before {
    background-image: url('/images/food-types/southern.jpg');
}

.foodtruck.vegetarian:before {
    background-image: url('/images/food-types/vegetarian.jpg');
}
